* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  height: 150vh;
}

#my-carousel {
  margin-top: 60px;
}

.carousel-position {
  background: top center no-repeat;
}

#carousel-tag {
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}

#carousel-tag > a {
  color: #333;
  margin: 5px 3px;
  font-size: 14px;
}

#carousel-tag > a:hover {
  color: #83fe00;
  text-decoration: none;
}

#static-caption {
  margin: 20px auto;
}

#static-caption .img-responsive {
  margin: 5px auto;
  width: 40%;
}

.static-images {
  padding: 0;
  margin: 0 auto;
}

#static-caption > p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #83fe00;
  padding-bottom: 15px;
}

#static-run,
#static-skate,
#static-ball {
  position: relative;
  display: inline-block;
  width: calc(100% / 3 - 3px);
}

.static-content .img-responsive {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.static-top {
  opacity: 0;
  position: absolute;
}

.static-top:hover {
  transition: opacity 0.7s ease-in-out;
  opacity: 1;
}

/* ---Media Queries------ */

@media (max-width: 480px) {

  #my-carousel .item { height: 310px; }

  #slide1 {
    background-image: url('images/carousel_xsmall_01_run_opt.png');
  }

  #slide2 {
    background-image: url('images/carousel_xsmall_02_skate_opt.png');
  }

  #slide3 {
    background-image: url('images/carousel_xsmall_03_basketball_opt.png');
  }

  a.carousel-control {
    display: none;
  }

  #my-carousel {
    margin-top: 5px;
  }

  #carousel-tag > a {
    color: #333;
    margin: 3px 1px;
    font-size: 12px;
  }

  #static-caption > p {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 14px;
  }

  #static-run,
  #static-skate,
  #static-ball {
    position: relative;
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .static-content .img-responsive {
    display: inline-block;
    width: 100%;
    margin: 3px auto;
  }

  .static-images .col-xs-12 {
    height: 60px;
    margin: 3px;
  }

  #static-caption {
    margin: 3px auto;
  }
}

@media (min-width: 481px) {

  #my-carousel .item { height: 310px; }

  #slide1 {
    background: url('images/carousel_small_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_small_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_small_03_basketball_opt.png');
  }

  #my-carousel {
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  #my-carousel .item { height: 400px; }

  #slide1 {
    background: url('images/carousel_medium_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_medium_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_medium_03_basketball_opt.png');
  }
}

@media (min-width: 1200px) {
  #my-carousel .item { height: 500px; }

  #slide1 {
    background: url('images/carousel_large_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_large_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_large_03_basketball_opt.png');
  }
}

/* ---Gallery --- */

.container .row #gallery-main {
  display: flex;
}

.gallery-title-bar {
  display: block;
  justify-content: flex-start;
  font-family: 'Roboto';
  font-size: 1.7rem;
  font-weight: 400;
  color: #eee;
  margin-top: 80px;
  margin-bottom: 10px;
}

.gallery-shoe-qty {
  margin-left: 0.6rem;
  font-size: 1.6rem;
  font-family: 'Roboto';
  color: #444;
}

.container .row #gallery-items {
  margin: 0, auto;
}

.gallery-item-box {
  border: none;
  padding: 10px;
}

.gallery-item-box:hover {
  box-shadow: inset 0 0 0 2px #333;
}

.shoe-thumb {
  margin: 0 auto;
}

hr.color-break {
  margin-top: 5px;
  margin-bottom: 7px;
  width: 100%;
}

.gallery-colors-display {
  font-family: 'Roboto';
  margin-top: 3px;
  margin-bottom: 1px;
  color: #666;
  padding: 3px;
}

.gallery-product-name {
  margin: 0 0 1px;
  color: #ccc;
}

.gallery-product-display-name {
  font-size: 1.5rem;
  font-variant-caps: petite-caps;
  margin-bottom: 0.3rem;
}

.gallery-product-category {
  font-variant-caps: all-small-caps;
  color: #aaa;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.static-content p {
  font-family: 'Roboto';
  color: #444;
  text-align: center;
  margin-top: 3px;
}

/* ---Detail View --- */
#detail-view {
  height: 700px;
}

#detail-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#detail-main {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.wrapper-detail {
  display: flex;
}

#detail-view {
  display: flex;
  margin: 100px, auto;
}

#atc-button {
  justify-content: center;
}

.add-cart {
  justify-content: center;
}

.btn {
  display: inline-flex;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin: 5px, auto;
}

.md {
  width: 60%;
}

.atc {
  background-color: #f07444;
  color: #ddd;
  transition: 0.2s ease;
}

.atc:hover {
  background-color: #ee622c;
  transition: 0.2s ease;
}
