* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  height: 150vh;
}

#my-carousel {
  margin-top: 60px;
}

.carousel-position {
  background: top center no-repeat;
}

#carousel-tag {
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}

#carousel-tag > a {
  color: #333;
  margin: 5px 3px;
  font-size: 14px;
}

#carousel-tag > a:hover {
  color: #83fe00;
  text-decoration: none;
}

#static-caption {
  margin: 20px auto;
}

#static-caption .img-responsive {
  margin: 5px auto;
  width: 40%;
}

.static-images {
  padding: 0;
  margin: 0 auto;
}

#static-caption > p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #83fe00;
  padding-bottom: 15px;
}

#static-run,
#static-skate,
#static-ball {
  position: relative;
  display: inline-block;
  width: calc(100% / 3 - 3px);
}

.static-content .img-responsive {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.static-top {
  opacity: 0;
  position: absolute;
}

.static-top:hover {
  transition: opacity 0.7s ease-in-out;
  opacity: 1;
}

/* ---Media Queries------ */

@media (max-width: 480px) {

  #my-carousel .item { height: 310px; }

  #slide1 {
    background-image: url('images/carousel_xsmall_01_run_opt.png');
  }

  #slide2 {
    background-image: url('images/carousel_xsmall_02_skate_opt.png');
  }

  #slide3 {
    background-image: url('images/carousel_xsmall_03_basketball_opt.png');
  }

  a.carousel-control {
    display: none;
  }

  #my-carousel {
    margin-top: 5px;
  }

  #carousel-tag > a {
    color: #333;
    margin: 3px 1px;
    font-size: 12px;
  }

  #static-caption > p {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 14px;
  }

  #static-run,
  #static-skate,
  #static-ball {
    position: relative;
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .static-content .img-responsive {
    display: inline-block;
    width: 100%;
    margin: 3px auto;
  }

  .static-images .col-xs-12 {
    height: 60px;
    margin: 3px;
  }

  #static-caption {
    margin: 3px auto;
  }
}

@media (min-width: 481px) {

  #my-carousel .item { height: 310px; }

  #slide1 {
    background: url('images/carousel_small_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_small_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_small_03_basketball_opt.png');
  }

  #my-carousel {
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  #my-carousel .item { height: 400px; }

  #slide1 {
    background: url('images/carousel_medium_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_medium_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_medium_03_basketball_opt.png');
  }
}

@media (min-width: 1200px) {
  #my-carousel .item { height: 500px; }

  #slide1 {
    background: url('images/carousel_large_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_large_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_large_03_basketball_opt.png');
  }
}

/* ---Gallery --- */

.gallery-shoe-qty {
  color: #444;
  font-weight: 300;
  font-size: 16px;
}

.container .row #gallery-main {
  display: flex;
}

.gallery-title-bar {
  display: block;
  justify-content: flex-start;
  font-family: 'Poppins';
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
  margin-top: 80px;
}

.container .row #gallery-items {
  justify-content: center;
  /*flex-shrink: 2;*/
  /*border: 2px dashed #5fb2a7;*/
}

.gallery-item-box {
  /*display: flex;*/
  /*justify-content: center;*/
  border: none;
  padding: 10px;
  /*border: 2px dashed #3ff1a7;*/
}

.gallery-item-box:hover {
  border: 2px solid #333;
  border-radius: 5px;
}

.shoe-thumb {
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 3px;
}

hr.color-break {
  margin-top: 5px;
  margin-bottom: 7px;
  width: 100%;
}

.gallery-colors-display {
  font-family: 'Roboto';
  margin-top: 3px;
  margin-bottom: 1px;
  color: #666;
  padding: 3px;
}

.gallery-product-name {
  margin: 0 0 1px;
  color: #ccc;
  /*margin-bottom: 0;*/
}

.gallery-product-display-name {
  font-size: 1.5rem;
  font-variant-caps: petite-caps;
  margin-bottom: 0.3rem;
}

.gallery-product-category {
  font-variant-caps: all-small-caps;
  color: #aaa;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}
