* {
  box-sizing: border-box;
}

body {
  height: 150vh;
  background-color: #1a1a1a;
}

#my-carousel {
  margin-top: 60px;
}

.carousel-position {
  background: top center no-repeat;
}

#carousel-tag {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
}

#carousel-tag > a {
  margin: 5px 3px;
  color: #333;
  font-size: 14px;
}

#carousel-tag > a:hover {
  text-decoration: none;
  color: #83fe00;
}

#slide1:hover,
#slide2:hover,
#slide3:hover {
  cursor: pointer;
}

#static-caption {
  margin: 20px auto;
}

#static-caption .img-responsive {
  width: 40%;
  margin: 5px auto;
}

.static-images {
  margin: 0 auto;
  padding: 0;
}

#static-caption > p {
  padding-bottom: 15px;
  text-align: center;
  color: #83fe00;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 300;
}

#static-run,
#static-skate,
#static-ball {
  position: relative;
  display: inline-block;
  width: calc(100% / 3 - 3px);
}

.static-content .img-responsive {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.static-top {
  position: absolute;
  opacity: 0;
}

.static-top:hover {
  transition: opacity 0.7s ease-in-out;
  opacity: 1;
}

/* ---Media Queries------ */

@media (max-width: 480px) {
  #my-carousel .item {
    height: 310px;
  }

  #slide1 {
    background-image: url('images/carousel_xsmall_01_run_opt.png');
  }

  #slide2 {
    background-image: url('images/carousel_xsmall_02_skate_opt.png');
  }

  #slide3 {
    background-image: url('images/carousel_xsmall_03_basketball_opt.png');
  }

  a.carousel-control {
    display: none;
  }

  #my-carousel {
    margin-top: 5px;
  }

  #carousel-tag > a {
    margin: 3px 1px;
    color: #333;
    font-size: 12px;
  }

  #static-caption > p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 100;
  }

  #static-run,
  #static-skate,
  #static-ball {
    position: relative;
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .static-content .img-responsive {
    display: inline-block;
    width: 100%;
    margin: 3px auto;
  }

  .static-images .col-xs-12 {
    height: 60px;
    margin: 3px;
  }

  #static-caption {
    margin: 3px auto;
  }
}

#static-caption:hover {
  cursor: pointer;
}

.static-content p {
  margin-top: 3px;
  text-align: center;
  color: #444;
  font-family: 'Roboto';
}

.detail-detail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 5px;
  padding: 10px;
}

@media (min-width: 481px) {
  #my-carousel .item {
    height: 310px;
  }

  #slide1 {
    background: url('images/carousel_small_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_small_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_small_03_basketball_opt.png');
  }

  #my-carousel {
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  #my-carousel .item {
    height: 400px;
  }

  #slide1 {
    background: url('images/carousel_medium_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_medium_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_medium_03_basketball_opt.png');
  }
}

@media (min-width: 1200px) {
  #my-carousel .item {
    height: 500px;
  }

  #slide1 {
    background: url('images/carousel_large_01_run_opt.png');
  }

  #slide2 {
    background: url('images/carousel_large_02_skate_opt.png');
  }

  #slide3 {
    background: url('images/carousel_large_03_basketball_opt.png');
  }
}

/* ---Gallery --- */

.container .row #gallery-main {
  display: flex;
}

.gallery-title-bar {
  display: block;
  margin-top: 3vh;
  margin-bottom: 10px;
  color: #eee;
  font-family: 'Roboto';
  font-size: 1.7rem;
  font-weight: 400;
  justify-content: flex-start;
}

.gallery-shoe-qty {
  margin-left: 0.6rem;
  color: #444;
  font-family: 'Roboto';
  font-size: 1.6rem;
}

.container .row #gallery-items {
  margin: 0, auto;
}

.gallery-item-box {
  padding: 10px;
  border: none;
}

.gallery-item-box:hover {
  box-shadow: inset 0 0 0 2px #333;
  cursor: pointer;
}

.shoe-thumb {
  margin: 0 auto;
}

hr.color-break {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 7px;
}

.gallery-colors-display {
  margin-top: 3px;
  margin-bottom: 1px;
  padding: 3px;
  color: #666;
  font-family: 'Roboto';
}

.gallery-product-name {
  margin: 0 0 1px;
  color: #ccc;
}

.gallery-product-display-name {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-variant-caps: petite-caps;
}

.gallery-product-category {
  margin-bottom: 0.3rem;
  color: #aaa;
  font-size: 1.5rem;
  font-variant-caps: all-small-caps;
}

.gallery-price {
  margin-bottom: 0;
}

/* ---Detail View --- */

.detail-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 10px 1px;
  box-shadow: inset 0 0 0 1px #222;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(26, 26, 26, 1) 0%, rgba(36, 36, 36, 1) 56%, rgba(44, 44, 44, 0.41) 100%);
}

.detail-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detail-detail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 10px;
  padding: 40px;
}

.img-responsive.detail-main-img {
  min-width: 90%;
  min-height: auto;
}

.btn {
  display: inline-flex;
  height: 45px;
  margin: 5px, auto;
  padding: 0;
  border: none;
  border-radius: 2px;
  font-size: 2.5em;
  font-variant-caps: all-petite-caps;
}

.md {
  width: 50%;
  margin-top: 2.6rem;
  justify-content: center;
}

.atc {
  transition: 0.2s ease;
  color: #ddd;
  background-color: #f07444;
}

.atc:hover {
  transition: 0.2s ease;
  background-color: #ee622c;
}

.shop {
  transition: 0.2s ease;
  color: #ddd;
  background-color: #666;
  margin-right: 1%;
}

.shop:hover {
  transition: 0.2s ease;
  background-color: #ddd;
}

.check-buttons {
  display: inline-flex;
}

h3.detail-header {
  margin-bottom: 0;
  color: #ccc;
  font-size: 3em;
  font-weight: 500;
  font-variant-caps: petite-caps;
}

.detail-category {
  margin-top: 5px;
  color: #aaa;
  font-size: 2.3em;
  font-weight: 400;
  font-variant-caps: all-small-caps;
}

.detail-qty {
  color: #ccc;
  font-size: 2em;
  text-align: right;
}

.detail-size {
  color: #ccc;
  margin-top: 0.3vh;
  font-size: 2em;
  text-align: right;
}

.detail-price {
  font-size: 2em;
  margin-top: 0.5vh;
}

.color-style {
  font-size: 1.6em;
  margin-top: 1rem;
}

.detail-color {
  color: #ddd;
}

.detail-style {
  color: #666;
  margin-top: 1rem;
}

.detail-thumb-img {
  width: auto;
  height: 50px;
}

ul.ul-size-qty {
  width: 50%;
  padding: 0;
  margin-top: 5px;
}

.form-control {
  background: #1b1b1b;
  color: #bbb;
  border: #fff;
}

h5.size-placeholder,
h5.qty-placeholder {
  color: #666;
  font-size: 1.5em;
}

.detail-wrapper2 {
  display: flex;
  margin: 0 auto;
  padding: 5px 1px;
  box-shadow: inset 0 0 0 1px #333;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(26, 26, 26, 1) 0%, rgba(36, 36, 36, 1) 56%, rgba(44, 44, 44, 0.41) 100%);
}

.cart-header {
  display: flex;
  width: 100%;
  height: 50px;
  background: #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cart-head-text {
  display: flex;
  font-size: 3em;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  align-items: center;
  margin-left: 2%;
}

.detail-price-display2 {
  color: #ccc;
  text-align: right;
}

.total {
  color: #f07444;
  margin-top: 0.3vh;
  font-size: 2em;
  text-align: right;
}

.detail-image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detail-detail2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 7px;
  padding: 20px;
}

.img-responsive.detail-main-img {
  min-width: 90%;
  min-height: auto;
}
